<h1>Carrito de Compras</h1>

<nav class="header">
    <ul>
        <li>
            <button class="btn" id="clean-cart">Limpiar carrito</button>
        </li>
        <li>
            <button class="btn" id="back-home">Volver a los productos</button>
        </li>
    </ul>
</nav>

<main class="cart-container" id="cart-container">
    {{#each products}}
        <div class="cart-item">
            <img src={{this.product.thumbnails}} alt="Producto 1" class="product-image">
            <div class="product-details">
                <h3>{{this.product.title}}</h3>
                <p>$ {{this.product.price}}</p>
                <div class="quantity-controls">
                    <button class="btn-decrease" id="btn-decrease" data-id={{this.product._id}}>-</button>
                    <span class="quantity" id="input-quantity">{{this.quantity}}</span>
                    <button class="btn-increase" id="btn-increase" data-id={{this.product._id}}>+</button>
                </div>
            </div>
            <button id="remove-item" class="remove-item" data-id={{this.product._id}}>Eliminar</button>
        </div>
    {{/each}}

    <div class="total">
        <h2>Total: $<span id="cart-price">0</span></h2>
    </div>
</main>

<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="/js/cart.js"></script>